@model  Infocenter_Screen.Models.ViewModels.TermoEkstrudViewModel

<div id="PTET">
    <div class="panel panel-primary" style="float: left; width:50%; height: 100%; border-bottom: none;">
        <div class="panel-heading">
            <h1 class="panel-title" style="text-align:center; font-size:24px;">Ekstrudering</h1>
        </div>
        <div>

            <img src="@Url.Content(Model.EkstruderingProd)" style="width:22vw; margin-left: auto; margin-right: auto; display: block; margin-top:3%;" onerror="src='/Images/Skylight.png'" />

        </div>
    </div>

    <div class="panel panel-primary" style="float: right; width:50%; height: 100%; border-bottom: none;">
        <div class="panel-heading">
            <h1 class="panel-title" style="text-align:center; font-size:24px;">Termoform</h1>
        </div>
        <div>
           
        </div>

    </div>
</div>

