html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Make it a marquee */
.marquee {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 150s linear infinite;
}

    .marquee:hover {
        animation-play-state: paused
    }

/* Make it move */
@-webkit-keyframes marquee {
    0% {
        text-indent: 27.5em
    }

    100% {
        text-indent: -705em
    }
}

/* Make it pretty */
.microsoft {
    padding-left: 1.5em;
    position: relative;
    font: 26px 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
}

    /* ::before was :before before ::before was ::before - kthx */
    .microsoft:before, .microsoft::before {
        z-index: 2;
        content: '';
        position: absolute;
        top: -1em;
        left: -1em;
        width: .5em;
        height: .5em;
    }

    .microsoft:after, .microsoft::after {
        z-index: 1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 2em;
        height: 2em;
    }

/* Style the links */
.vanity {
    color: #333;
    text-align: center;
    font: .75em 'Segoe UI', Tahoma, Helvetica, Sans-Serif;
}

    .vanity a, .microsoft a {
        color: #1570A6;
        transition: color .5s;
        text-decoration: none;
    }

        .vanity a:hover, .microsoft a:hover {
            color: #F65314;
        }
